# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3

# Logs
logs/
*.log

# Downloads
downloads/
converted_audio/
/Users/server1/Library/Mobile Documents/com~apple~CloudDocs/Data/

# Reports
*.json

# Config
config.json

# Others
.DS_Store
*/.DS_Store